{% if conversation %}
    <div class="card-header messenger-card">
        <div class="row p-3">
            <div class="col-10">
                <small id="conversation-{{ conversation.id }}-name" class="fs-4 fw-light">
                    {{ conversation.name }}
                </small class="fs-3">
            </div>
            <div class="col-2 text-end">
                {% include 'chat_groups/_conversationDropdownMenu.html.twig' %}
            </div>
        </div>
    </div>
    <div class="card-body messenger-card list-group-msg-scroll">
        <div id="messages">
            {% include 'chat_components/_message.html.twig' %}
        </div>
    </div>
    <turbo-frame id="message_form">
        <div class="card-footer messenger-card">
            {% include 'chat_components/_messageForm.html.twig' %}
        </div>
    </turbo-frame>
{% else %}
    
{% endif %}