<div class="rounded-3 p-3 bg-light search-result-container">
    <ul class="list-group">
    {% if users %}
        {% for user in users %}
            <li class="list-group-item bg-light">
                <div class="row">
                    <div class="col my-auto">Username: {{ user.username }}</div>
                    <div class="col text-end">
                        {% if user in friends %}
                            <button 
                                class="px-3 btn btn btn-dark btn-search" 
                                disabled>
                                You are Friends <i class="bi bi-person-raised-hand"></i>
                            </button>
                        {% elseif user in alreadyReceived %}
                            <button 
                                class="px-3 btn btn btn-dark btn-search" 
                                disabled>
                                Request Received <i class="bi bi-person-raised-hand"></i>
                            </button>
                        {% elseif user in alreadyRequested %}
                            <button 
                                class="px-3 btn btn btn-dark btn-search" 
                                disabled>
                                Request Sent <i class="bi bi-person-raised-hand"></i>
                            </button>
                        {% else %}
                            <form action="{{ path(getRouteName('APP_SEND_FRIEND_REQUEST')) }}" method="POST">
                                <button name="requestUserId" type="submit" 
                                    class="px-4 btn btn btn-dark btn-search" 
                                    value="{{ user.id }}">
                                    Add friend <i class="bi bi-person-plus"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        No results
    {% endif %}
    </ul>
</div>