<div class="modal fade rounded-5" id="notifications-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable scroller-notifications modal-lg">
        <div class="modal-content modal-notifications" {{ stimulus_controller('notification', {
            url: path(getRouteName('APP_RELOAD_NOTIFICATIONS_MODAL'))
        }) }}>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Notifications</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row p-2">
                    <div class="col-5 text-center">
                        {% set order = app.session.get(getConstant('NOTIFICATIONS_ORDER_BY_DATE')) %}
                        <button id="set-date-order-btn"
                        type="button"
                        class="btn btn-outline-primary w-100"
                        value="{{ order }}"
                        data-action="notification#dateSortOrder">
                            <small class="px-2 align-middle">date</small>
                            <i class="bi
                            {% if order == 'DESC' %}
                                bi-sort-down-alt
                            {% else %}
                                bi-sort-up-alt
                            {% endif %}
                            align-middle"></i>
                        </button>
                    </div>
                    <div class="col-7 text-center">
                        <button id="set-notifications-btn"
                        type="button"
                        class="btn btn-outline-primary w-100 dropdown-toggle"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="false"
                        aria-expanded="false">
                            <small class="px-2 align-middle">notification type</small>
                            <i class="bi bi-filter align-middle"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <div id="notifications-filters-list">
                                {% include 'nav_dropdown/notifications_modal/_notificationsFilterDropdown.html.twig' %}
                            </div>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item"
                                role="button"
                                data-action="notification#resetNotificationsFilters">
                                    Reset Filters
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-group" data-notification-target="notificationsList">
                    {% include 'nav_dropdown/notifications_modal/_notificationsList.html.twig' %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


