@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

html {
    height: 100%;
}

body {
    background: rgb(241,247,248);
    background-image: linear-gradient(144deg, rgba(241,247,248,1) 0%, rgba(95,118,119,1) 78%, rgba(47,49,50,1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: #2f3132;
    height: 200px;
}

.form-control {
    background-color: #f1f7f8;
}

.friend-card {
    width: 20rem;
}

.alert {
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

.flash-container {
    width: 400px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998;
}

.navbar-dark {
    background-color: #2f3132;
    color: #f1f7f8;
}

.bi-user-icon {
    font-size: 25px;
}

.btn-search {
    width: 16rem !important;
}

.container-shadow {
    box-shadow: 0px 0px 10px #2f3132;
}

.container-body {
    border-radius: 1rem;
    min-height: 700px;
}

.container_list {
    border-radius: 1rem;
}

/* https://colormagic.app/palette/iWzC4fi6j6e9gv3J2b1j */