@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@500&family=Roboto+Mono&display=swap');

html {
    height: 100%;
    background-color: #{$dark};
}

body {
    background: #{$light};
    background-image: linear-gradient(144deg, #{$light} 0%, #{$primary} 78%, #{$dark} 100%);

    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;

    scrollbar-color: #{$primary} #{$light};
}

footer {
    background-color: #{$dark};
    height: 200px;
}

.form-control {
    background-color: #{$light};
}

.friend-card {
    width: 20rem;
}

.alert {
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

.flash-container {
    width: 400px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998;
}

.navbar-dark {
    background-color: #{$dark};
    color: #{$light};
}

.bi-user-icon {
    font-size: 25px;
}

.bi-danger {
    color: #{$danger};
}

.btn-search {
    width: 16rem !important;
}

.container-shadow {
    box-shadow: 0px 0px 10px #{$dark};
}

.container-body {
    border-radius: 1rem;
    min-height: 700px;
}

.container_list {
    border-radius: 1rem;
}

.messenger-window {
    height: 650px;
    padding: 0 !important;
    margin: 0 !important;
}

.messenger-card {
    width: 100%;
}

.messenger-input {
    resize: none;
    background-color: #{$light};
}

.list-group-scroll{
    height: 100%;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-msg-scroll {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.btn-start-conversation {
    border: none;
}

.current-conversation-border {
    color: #{$dark};
    background-color: #{$secondary};
    box-shadow: 0px 0px 10px #{$primary}, inset 0px 0px 15px #{$primary};
}

.btn-start-conversation,
.btn-friend-msg-list,
.nav-hover-dropdown,
.current-conversation-border,
.nav-hover-bordered,
.blurred-button,
.blurred-button:hover {
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn-start-conversation,
.btn-friend-msg-list {
    box-shadow: 0px 0px 10px #{$light}, inset 0px 0px 7px #{$light};
}

.nav-hover-dropdown,
.nav-hover-bordered {
    box-shadow: 0px 0px 10px #{$dark}, inset 0px 0px 7px #{$dark};
}

.nav-hover-dropdown:hover {
    background-color: #{$primary};
    color: #{$light};
    box-shadow: 0px 0px 10px #{$primary}, inset 0px 0px 7px #{$dark};
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav-hover-bordered:hover {
    background-color: #{$light};
    color: #{$dark};
    box-shadow: 0px 0px 10px #{$light}, inset 0px 0px 7px #{$dark};
    -webkit-transition: all .4s;
    transition: all .4s;
}

.blurred-button {
    -webkit-filter: blur(1.2px);
    filter: blur(1.2px);
}

.blurred-button:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.current-path-bordered {
    color: #{$light};
    box-shadow: 0px 0px 10px, inset 0px 0px 7px #{$light};
}

.current-conversation-border:hover,
.btn-start-conversation:hover,
.btn-friend-msg-list:hover {
    background-color: #{$primary};
    color: #{$light};
    box-shadow: 0px 0px 10px #{$dark};
    -webkit-transition: all .4s;
    transition: all .4s;
}

.offcanvas-size-sm {
    --#{$prefix}offcanvas-width: min(120vw, 300px) !important;
}

.custom-tooltip {
    --bs-tooltip-bg: #{$light};
    --bs-tooltip-color: #{$dark};
    --bs-tooltip-opacity: .8;
}

.message {
    white-space: pre-wrap;
}

.dropdown-btn {
    font-size: 1.3rem;
}

.modal-notifications {
    min-height: 40rem;
}

.img-preview {
    float: left;
    width:  4rem;
    height: 4rem;
    object-fit: cover;
}

.img-preview-height {
    height: 4rem;
}

.img-carousel {
    max-width: 100%;
    width: 500px;
    max-height: 45rem;
    object-fit: contain;
}

.img-carousel-preview {
    float: left;
    max-width:  4rem;
    max-height: 4rem;
    object-fit: cover;
}

.img-attachment {
    float: left;
    width:  7rem;
    height: 7rem;
    object-fit: cover;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn-noborder {
    border: none !important;
}

.btn-badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi-resized {
    width: 16px !important;
    height: 16px !important;
}

.scroller-notifications {
    scrollbar-color: #{$dark} #fff;
}

.carousel-display-flex {
    display: flex !important;
}

.modal-footer-max-height {
    max-height: 6rem;
}

.pagination {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

/* https://colormagic.app/palette/iWzC4fi6j6e9gv3J2b1j */