
{% for notification in app.user.receivedNotifications %}
    <a href="{{ getHref(notification) }}"
    class="list-group-item list-group-item-action notifications-list-item
    {% if not notification.displayed %}active{% endif %}"
    aria-current="true"
    value="{{ notification.id }}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ notification.message }}</h5>
        </div>
        <p class="mb-1">
            <small>{{ notification.createdAt|ago }}</small>
        </p>
    </a>
{% endfor %}