
<div class="modal fade rounded-5" id="reload-window-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content border border-5 border-primary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reload page</h1>
            </div>
            <div class="modal-body">
                <h5>You were inactive too long! Reload window</h5>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                    <button id="reload-page-btn" class="btn btn-dark btn-lg" tabindex="-1">
                        Reload Page
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>