<a class="btn btn-primary" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list dropdown-btn"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end dropstart bg-light">
    <li>
        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#conversationMembersListModal">
            Conversations members
        </button>
    </li>
    <li>
        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#conversationNameChangeFormModal">
            Change Conversation Name
        </button>
    </li>
    <li>
        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#conversationNewMembersFormModal">
            Add new Member +
        </button>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>{% include 'chat/chat_groups/_conversationLeaveGroupForm.html.twig' %}</li>
    <li>{% include 'chat/chat_groups/_removeConversationForm.html.twig' %}</li>
</ul>