<div class="row px-3 pt-1">
    {% for attachment in message.messageAttachments %}
        <div class="col-6 px-0">
            <img
                src="{{ path(getRouteName('APP_GET_SENT_IMG'), {attachmentId: attachment.id}) }}" 
                alt="{{ attachment.filename }}"
                class="img-thumbnail img-fluid"
            >
        </div>
    {% endfor %}
</div>