<div class="row px-3 pt-1">
    {% for attachment in message.messageAttachments %}
    <div class="col-xl-4 col-lg-6 col-sm-12 nopadding">
        <button type="button" class="btn nopadding" data-action="messanger#handleImgCarouselModal" value="{{ attachment.id }}">
            <img alt="{{ attachment.filename }}"
            src="{{ path(getRouteName('APP_GET_RESIZED_IMG'), {attachmentId: attachment.id}) }}"
            class="img-thumbnail img-fluid img-attachment" loading="lazy">
        </button>
    </div>
    {% endfor %}
</div>