<div class="carousel-item my-auto active">
    <img src="{{ path(getRouteName('APP_GET_SENT_IMG'), {attachmentId: attachmentId}) }}"
    class="img-fluid img-carousel w-100"
    alt="{{ filename }}" loading="lazy">
</div>