{% extends 'base.html.twig' %}

{# {% block javascripts %}
    {{ encore_entry_script_tags('friendController') }}
{% endblock %} #}

{% if topics is not defined %}
    {% set topics = [] %}
{% endif %}

{% set friendsTopics = app.user|getFriendsTopics %}
{% set topics        = topics|push(friendsTopics) %}

{% block title %}Friends list!{% endblock %}

{% block body %}
<div class="container container-body container-shadow m-auto mt-5 p-5 bg-dark ">
    <h2 class="fw-bold mb-2 text-light">Your Friends</h2>
    <p class="text-white-50 mb-4">Friends list!</p>
    <div id="friends-list">
        {% include 'friend/_friendsList.html.twig' %}
    </div>
</div>
{% endblock %}
